.layout {
    width: 100%;
    height: 100vh;
    margin: 0;

    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url("../../../assets/Generated_Image_rihptdrihptdrihp.png");
    background-size: cover;
    /* background-position: center; */
    backdrop-filter: blur(15px);
}