.hero {
    background-image: url('../../assets/Generated_Image_73uisq73uisq73ui.png');
background-position-x: 40%;
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;

    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px;
}

.hero-content {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: visible;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-title {
    color: white;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 4px var(--color);
    margin: 0;
}

.hero-subTitle {
    font-family: 'Inter';
}