.header {
    background-color: #F9FAFB;
    width: 100%;
    height: 80px;
    color: #D4AF37;
    font-family: "Dancing Script", cursive;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-item {
    font-size: 1.2rem;
    cursor: pointer;
    color: #000
}

.nav-item:hover {
    color: #D4AF37;
    transition: color 0.3s ease;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    font-family: "Inter", serif;

}

/* Social Media */
.social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.social-item {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--color);
}

.social-link {
    color: inherit;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.938);
    text-decoration: none;
}